* {
    /* padding: 0;
      margin: 0; */
    box-sizing: border-box;
  }
  :root{
    --primary-color: #000;
    --secondary-color: #fff;
    --accent-color: #42c4aa;
    --section-margin: 48px;
  }
  body {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
  }
  img {
    max-width:100%;
  }
  .space-container{
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  a{
    color: var(--secondary-color);
    text-decoration: none;
  }
  .navLinks ul{
    display: flex;
    list-style: none;
    gap: 20px;
    flex-direction: column;
  }
  .hero{
    margin-top:var(--section-margin) ;
    margin-bottom: var(--section-margin);
    padding-left: 24px;
  }
  .hero h1{
    font-size: 36px;
  }
  .hero-column button{
    margin-right: 8px;
  }
  .why-metal{
    padding-top :var(--section-margin);
    padding-bottom :var(--section-margin);

  }
  .why-metal h2{
    font-size: 36px;
  }
  .whyme-section{
    background: var(--secondary-color);
    color: var(--primary-color);
  }
  .why-metal 
  .column .icons{
    width: 70px;
    height: 70px;
  }
  .column{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 24px;
    margin-bottom: 16px;
  }
  .column p{
    line-height: 24px;
  }

  /* .blog{
  
  }  */
  .blog-section{
    /* background:var(--accent-color) */
    padding-top: var(--section-margin);
    padding-bottom: var(--section-margin);
    color: var(--primary-color);
  }
  .blog-wrapper {
    padding: var(--section-margin);
    border-radius: 10px;
    background: var(--secondary-color);
    /* overflow: hidden; */
  }
  .blog-cards{
    display:flex;
    overflow-x: auto;
    gap: 30px;
    scroll-snap-type: x mandatory;
  }
  .blog-card{
    /* max-width: 400px; */
    width: 400px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex-shrink: 0;
    margin-bottom: 20px;
    scroll-snap-align: start;

  }
  .blog-category{
    background: var(--primary-color);
    color: var(--secondary-color);
    max-width: 100px;
    padding: 6px 8px;
    text-align: center;
  }
  .blog-title{
    font-size: 24px;
    margin-bottom: 0px;
  }
  .blog-details{
    display: flex;
    gap: 20px
  }
  .blog-content{
    line-height: 24px;
  }
  .blog-card button{
    margin-top: 14px;
    width: 100%;
    background: var(--accent-color);
    color: var(--secondary-color);
    border: none;
    padding: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* .blog h2{
    text-align: center;
    color: var(--primary-color);
    padding-top :var(--section-margin);

  } */
  .accordion-sec{
    background: var(--secondary-color);
  }
  .accordion{
    color: var(--primary-color);
    background: var(--secondary-color);
    padding-top: var(--section-margin);
    padding-bottom: var(--section-margin);
  }
  .accordion_container {
    background-color: #c2bebd;
    position: relative;
    min-height: 100vh;
    /* display: flex; */
  }
  
  .accordion-sec {
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    background: var(--accent-color);
    align-items: center;
  }
  .accordion_label,
  .accordion_content {
    padding: 14px 20px;
  }
  .accordion_label {
    display: block;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
  }
  .accordion_label:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  .accordion_label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50);
    right: 20px;
    width: 12px;
    height: 6px;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
    background-size: contain;
    transition: transform 0.4s;
  }
  .accordion_content {
    background: #ffffff;
    color: #c2bebd;
    line-height: 1.6;
    font-size: 0.85em;
    display: none;
  }
  
  .accordion_input {
    display: none;
  }
  .accordion_input:checked ~ .accordion_content {
    display: block;
  }
  .accordion_input:checked ~ .accordion_label::after {
    transform: translateY(-50%) rotate(0.5turn);
  }
  .community-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--section-margin);
  }
  .community_content ,
  .community_img{
    flex-basis: 50%;
  }
  .community_img{
    max-width: 400px;
  }
  .community_content{
    line-height: 24px;
  }
  footer{
    background: var(--secondary-color);
    color: var(--primary-color)
  }
  footer a{
    color: var(--primary-color);
  }
  footer > div{
    padding-top: var(--section-margin);
    padding-bottom: var(--section-margin);

  }
  .footer_links , .socials{
    margin-top: 24px;
    margin-bottom: 24px
    
  }
.footer_links a{
  margin-right: 20px;

}
.footer-link:hover{
  color: var(--accent-color);
}
.socials svg:hover{
  fill: var(--accent-color)
}
  @media (min-width: 768px) {
    .navLinks ul{
        flex-direction: row;
    }
    .hero{
      font-display: flex;
      justify-content: space-between;
    }
    .hero h1{
      font-size: 48px;
    }
  }